Beaker~=1.11.0
beaker-redis~=1.1.0
pyotp~=2.6.0
python-magic~=0.4.24
redis~=4.1.4
repoze.who~=2.4
git+https://github.com/akissa/repoze.who-use_beaker@780379fd58b10264c0756feb6d3f232f797ba0cb#egg=repoze.who-use_beaker
six~=1.16.0
WebOb~=1.8.7
