{% ckan_extends %}

{% block extra_fields %}
{% if g.userobj.sysadmin and data.state == 'deleted' %}
  {% call form.checkbox('activate_user', label=_('Reactivate User'), id='activate_user', value=True, checked=false) %}
  {% set helper_text = _('This account is deactivated, if you want to reactivate it, please click on checkbox.') %}
  {{ form.info(helper_text, classes='info-help-tight') }}
  {% endcall %}
{% endif %}

{% if h.security_enable_totp() %}
  <fieldset>
    <legend>{{_('Two factor authentication')}}</legend>
    {% link_for _('Manage two factor authentication'), controller='mfa_user', action='configure_mfa', id=data.id, class_='btn btn-default pull-left', icon='cog' %}
  </fieldset>
{% endif %}

{% endblock %}
