{#
Renders the login form.
overrides rendering of the login form

#}
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

{% if h.check_ckan_version('2.9') %}
  {% asset 'security/mfa_login' %}
{% else %}
  {% resource 'security/login_ajax.js' %}
  {% resource 'security/qrious.js' %}
{% endif %}


<form id="mfa-login-form" action="{{ action }}" method="post" class="form-horizontal">
  <div class="error-explanation alert alert-error" style="display: none;">
    <p id="invalid-entries">{{ _('The form contains invalid entries:') }}</p>
    <ul>
      <li id="login-error" data-field-label>{{ _('Login failed. Incorrect username or password.') }}</li>
      <li id="mfa-error" data-field-label>{{ _('Invalid code, please try again.') }}</li>
      <li id="unknown-error" data-field-label>{{ _('An unknown error occurred.') }}</li>
    </ul>
  </div>

  <div id="login-form">

    <div id="login-fields">
      {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}

      {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}
    </div>

    {{ form.checkbox('remember', label=_("Remember me"), id='field-remember', checked=true, value="63072000") }}

    <div class="form-actions">
      {% block login_button %}
      <button class="btn btn-primary" type="submit">{{ _('Next') }}</button>
      {% endblock %}
    </div>
  </div>

  <div id="mfa-form" style="display: none;">
    <fieldset id="mfa-setup" style="display: none;">
      <legend>{{_('Scan this QR code with your two factor authentication app')}}</legend>
      <p>{% trans %}If you don't already have an authenticator app, you could try Google Authenticator.{% endtrans %}</p>

      <div>
        <canvas class="radius-lg padding-sm margin-b-sm border-solid" id="qr-code-container"></canvas>
      </div>
      <p>
        {% trans %}If you are not able to scan the QR code, you can manually enter this secret into your authenticator app: {% endtrans %}<code id="totp-secret"></code>
      </p>
    </fieldset>

    <p>{{_('Please enter your authenticator app generated 6-digit verification code.')}}</p>
    {{ form.input('mfa', label=_("Verification code"), id='field-mfa', type="text", value="", error=mfa_error, classes=["control-medium"], attrs={"autocomplete": "off"}) }}

    <input id="mfa-form-active" name="mfa-form-active" type="hidden" value="" />
    <div class="form-actions">
      <a id="mfa-help-link" href="/" style="display: none; margin-right: 20px;">{{_('Need help?')}}</a>
      <button class="btn btn-primary" type="submit">{{ _('Submit') }}</button>
    </div>
  </div>

</form>
